* {
  box-sizing: border-box;
}

#lamp {
  width: 100px;
  height: 100px;
  border: 1px solid rgb(54, 52, 52);
  border-radius: 50%;
  background-color: rgb(154, 152, 152);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 25px;
  margin-bottom: 10px;
}

#lamp.lamp-on{
    border: 1px solid white;
    background-color: yellow;
    color: black;
}
